* {
  padding: 0;
  margin: 0;
  font: inherit;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  display: inline-block;
  color: inherit;
}

button {
  background-color: transparent;
  border: 0;
  border: none;

  cursor: pointer;
}

ul,
ol {
  list-style: none;
}
